.App {
  text-align: center;
}

body {
  background-color: #f0f0ff !important;
}

tr {
  background-color: white;
}

.container {
  background-color: white;
  padding: 25px 25px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #0004;
  margin-bottom: 40px;
}

.Dropdown-item {
  transition: 250ms;
}

.Dropdown-item a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.Dropdown-item:hover {
  background-color: darkslateblue;
}

.Dropdown-item:hover a {
  color: rgba(255, 255, 255, 0.75);
}

.Button {
  margin-top: 8px;
}

.Add-Button {
  position: fixed;
  width: 4vw;
  height: 4vw;
  bottom: 2vw;
  right: 2vw;
  background-color: tomato !important;
  border-color: transparent !important;
  color: white;
  border-radius: 100% !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #0004;
  transition: 250ms !important;
  font-size: x-large !important;
}

.Spinner {
  position: fixed;
  right: 50%;
  bottom: 50%;
}

.Btn-group {
  display: flex !important;
}
